{% extends "main_app/base.html" %} 
{% block title %}Login{% endblock title %} 
{% block content %} 
<div class="container justify-content-center align-items-center w-50 h-100">
    <h3 class="text-center mb-5">
        Student
        <small class="text-body-secondary">Management System</small>
      </h3>
    <form class="d-flex flex-column">
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Email address</label>
          <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword">
        </div>
       
        <button type="submit" class="btn btn-primary w-50 align-self-center">Submit</button>
      </form>
</div>

{% endblock content %}