{% extends "main_app/base.html" %} {% load static %} 
{% block title %}Home{%endblock title %} 

{%block content %}
<div class="d-flex">

  <!--SIDEBAR-->
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">SMS</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="" class="nav-link active" aria-current="page">
          Dashboard
        </a>
      </li>
      <li>
        <a href="" class="nav-link text-white">
          Teacher
        </a>
      </li>
      <li>
        <a href="" class="nav-link text-white">
          Student
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Attendance
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Fee Structure
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          Notices
        </a>
      </li>
    </ul>
    <hr>

      <a href="#" class="d-flex align-items-center text-white text-decoration-none">
        {% if request.user.profile_pic.url %}
          <img src="{{request.user.profile_pic.url}}" alt="" width="32" height="32" class="rounded-circle me-2">
        {% endif %}
        <strong>{{request.user.full_name}}</strong>
      </a>
      
  
  </div>

  <!-- For menu content for all types of the user-->
{% block menu_content %}{% endblock menu_content %}

</div>
{%endblock content%}