 {% load static %}
 <script src="{% static "js/navbar.js" %}"></script>
 <nav class="navbar navbar-expand-md bg-dark">
  <div class="container-fluid">
    <div class="d-flex justify-content-between w-100">
      <div class="navbar-brand" title="Student Management System">
        Student Management System
      </div>
      <div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <!--NOTE: This may look bad code but is necessary to highlight the current active page-->
        <a class="nav-link {% if request.resolver_match.view_name == "main_app:index" %}active{% endif %}" href="{% url "main_app:index" %}">Home</a>
        <a class="nav-link {% if request.resolver_match.view_name == "main_app:services" %}active{% endif %}" href="{% url "main_app:services" %}">Services</a>
        <a class="nav-link {% if request.resolver_match.view_name == "main_app:menu" %}active{% endif %}" href="{% url "main_app:menu" %}">Menu</a>
        <a class="nav-link {% if request.resolver_match.view_name == "main_app:contact" %}active{% endif %}" href="{% url "main_app:contact" %}">Contact</a>
        <a class="nav-link {% if request.resolver_match.view_name == "main_app:logOutUser" %}active{% endif %}" href="{% url "main_app:logOutUser" %}">LogOut</a>
      </div>
    </div>
  </div>
</nav> 