{% extends "../main_app/menu.html" %}
{% block title %}View Classmates{% endblock title %}

{% block menu_content %}
<table class="table table-bordered table-hover border-light">
    <thead>
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th> 
        <th scope="col">Father</th> 
      </tr>
    </thead>
    <tbody>
        {% for idx,classmate in classmates %}
        <tr>
          <td>{{idx}}</td>
            <td>{{classmate.admin.full_name}}</td>
            <td>{{classmate.admin.email}}</td>
            <td>{{classmate.admin.gender}}</td> 
            <td>{{classmate.father_name}}</td> 
        </tr>
        {% endfor %}
    </tbody>
</table>

<button class="btn btn-success w-50" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetarget" aria-expanded="false" aria-controls="collapsetarget">
  Show more details
</button>

<!--COLLAPSE BUTTON -->
<div class="collapse " id="collapsetarget">
  <div class="card card-body">
    <ul class="list-group-item list-unstyled">
      <li>No of records: {{classmates | length}}</li>
      <li>Males:  {{males_count}} | Females: {{females_count}}</li>
    </ul>
  </div>
</div>
{% endblock menu_content %}